ffmpeg=4.0=hcdf2ecd_0
flask=1.1.2=pypi_0
flask-cors=3.0.9=pypi_0
imagehash=4.2.0=pypi_0
imageio=2.9.0=pypi_0
imantics=0.1.12=pypi_0
importlib-metadata=2.0.0=pypi_0
keras=2.4.3=pypi_0
keras-preprocessing=1.1.2=pypi_0
numpy=1.18.5=pypi_0
numpy-base=1.19.1=py36hfa32c7d_0
opencv=3.4.2=py36h6fd60c2_1
opencv-python=4.4.0.46=pypi_0
pillow=7.2.0=py36hb39fc2d_0
py-opencv=3.4.2=py36hb342d67_1
pycocotools=2.0.2=pypi_0
scikit-image=0.17.2=pypi_0
scipy=1.5.2=pypi_0
six=1.15.0=py_0
tensorflow=2.3.1=pypi_0
tensorflow-estimator=2.3.0=pypi_0
tqdm=4.50.2=pypi_0
