tbody>:first-child {
    margin-top: 0px!important;
}

.plitter-logo {
    width: 70px;
    height: 25px;
}

.navbar-brand {
    margin-right: 0px;
}

.dropdown-menu {
    min-width: auto;
}

.uploaded-actions>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90px;
    height: 35px;
}

.uploaded-actions>button>i {
    margin-right: 5px;
}

.openseadragon-container>div:nth-child(2) {
    display: flex!important;
    flex-direction: row!important;
}

.openseadragon-container>div:nth-child(2)>div:first-child>div {
    display: flex!important;
    flex-direction: row!important;
}

.openseadragon-container>div:nth-child(2)>div:first-child>div>div:hover {
    cursor: pointer;
}

.openseadragon-container>div:nth-child(2)>div:last-child:hover {
    cursor: pointer;
}

.openseadragon-container>div:nth-child(3) {
    display: flex!important;
    flex-direction: row!important;
}

.openseadragon-container>div:nth-child(3)>div {
    padding: 0px 2px 0px 2px!important;
    cursor: pointer;
}

.openseadragon-container>div:nth-child(3)>div>div>img {
    width: 27px!important;
    height: 27px!important;
}

.r6o-editor{
    width: 250px!important;
}

.tagselector-widget{
    padding: 8px!important;
}

.tagselector-widget>select{
    width: 100%!important;
}

.r6o-footer{
    display: flex!important;
    justify-content: flex-start!important;
    align-items: center!important;
    padding: 8px!important;
}

.r6o-footer>button{
    width: 70px!important;
    height: 40px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    margin-right: 8px!important;
}

.delete-annotation{
    position: unset!important;
    border-radius: 0px!important;
    height: 100%!important;
    border: 1px solid #4483c4!important;
}

.delete-annotation:hover{
    border: 1px solid #ef352c!important;
}

@media (max-width: 1023px) {
    .openseadragon-container>div:nth-child(2) {
        display: flex!important;
        flex-direction: column!important;
    }
    .openseadragon-container>div:nth-child(2)>div:first-child>div {
        display: flex!important;
        flex-direction: column!important;
    }
    .openseadragon-container>div:nth-child(3) {
        display: flex!important;
        flex-direction: column!important;
    }
    .openseadragon-container>div:nth-child(3)>div {
        padding: 2px 5px 2px 0px!important;
    }
    /* .r6o-editor{
        left: 0!important;
        right: 0!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .r6o-arrow{
        display: none!important;
    } */
}

@media (max-width: 767px) {
    .dropdown-menu {
        left: -40px;
    }
    .nav-item {
        line-height: 0px !important;
    }
    .dropdown-item {
        line-height: 1.5;
    }
    .uploaded-actions>button {
        margin-right: 0.5rem;
        font-size: 13px;
    }
}

.cselect {
    position: relative;
}

.cselect input{
    background: #fff;
    height: 23px;
    width: 100%;
    color: black;
    border: 1px solid black;
    padding: 5px;
}

.cselect ul{
    display: none;
    padding: 0;
    position: absolute;
    z-index:999;
    margin:0;
    width: 100%;
    background: #fff;
    border: 1px solid #d6d6d6;
}

.cselect li {
    color: black;
    font-size: 14px;
    height: 23px;
    list-style:none;
    padding-left: 5px;
}

.cselect li:hover, .cselect li:active {
    background: rgba(41, 128, 185, 0.5);
}